[Desktop Entry]
Name=playbak
Name[ca]=playbak
Name[ca@valencia]=playbak
Name[cs]=playbak
Name[da]=playbak
Name[de]=playbak
Name[el]=playbak
Name[en_GB]=playbak
Name[eo]=playbak
Name[es]=playbak
Name[et]=playbak
Name[fi]=playbak
Name[fr]=playbak
Name[ga]=playbak
Name[gl]=playbak
Name[hu]=playbak
Name[it]=playbak
Name[ja]=playbak
Name[kk]=playbak
Name[km]=playbak
Name[ko]=playbak
Name[lv]=playbak
Name[nb]=playbak
Name[nds]=playbak
Name[nl]=playbak
Name[nn]=playbak
Name[pa]=playbak
Name[pl]=playbak
Name[pt]=playbak
Name[pt_BR]=playbak
Name[ro]=playbak
Name[ru]=playbak
Name[sr]=playbak
Name[sr@ijekavian]=playbak
Name[sr@ijekavianlatin]=playbak
Name[sr@latin]=playbak
Name[sv]=playbak
Name[tr]=playbak
Name[uk]=playbak
Name[x-test]=xxplaybakxx
Name[zh_CN]=playbak
Name[zh_TW]=playbak
Exec=playbak %i -caption "%c"
Icon=playbak
Type=Application
X-DocPath=playbak/index.html
GenericName=A KDE4 Multimedia Player
GenericName[ca]=Una aplicació del KDE4
GenericName[ca@valencia]=Una aplicació del KDE4
GenericName[cs]=Aplikace prostředí KDE
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE-4-Anwendung
GenericName[el]=Μια εφαρμογή KDE4
GenericName[en_GB]=A KDE4 Application
GenericName[es]=Un reproductor multimedia para KDE
GenericName[et]=KDE4 rakendus
GenericName[fi]=KDE4-sovellus
GenericName[fr]=Une application pour KDE4
GenericName[ga]=Feidhmchlár KDE4
GenericName[gl]=Un programa de KDE4
GenericName[hu]=KDE4-alkalmazás
GenericName[it]=Un'applicazione di KDE 4
GenericName[ja]=KDE 4 アプリケーション
GenericName[kk]=KDE4 қолданбасы
GenericName[km]=កម្មវិធី KDE4
GenericName[ko]=KDE4 프로그램
GenericName[lv]=KDE4 lietotne
GenericName[nb]=Et KDE4-program
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[nn]=Eit KDE 4-program
GenericName[pa]=KDE4 ਐਪਲੀਕੇਸ਼ਨ
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Um aplicativo do KDE4
GenericName[ro]=O aplicație KDE4
GenericName[ru]=Приложение KDE4
GenericName[sr]=КДЕ‑4 програм
GenericName[sr@ijekavian]=КДЕ‑4 програм
GenericName[sr@ijekavianlatin]=KDE4 program
GenericName[sr@latin]=KDE4 program
GenericName[sv]=Ett KDE4-program
GenericName[tr]=Bir KDE4 Uygulaması
GenericName[uk]=Програма для KDE4
GenericName[x-test]=xxA KDE4 Applicationxx
GenericName[zh_CN]=KDE4 应用程序
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
